{% assign fields = app.metafields.autofit_search.fields.value %}
{% assign rows = app.metafields.autofit_search.rows.value %}
{% assign suggestions = app.metafields.autofit_search.suggestions.value %}
{% assign class_prefix = "autofit-w" %}
<div
    id="autofit-search-widget_{{ block.id }}"
    data-section-type="auto-fit-search"
    data-block-id="{{ block.id }}"
    class="auto-fit-search-widget {{ block.settings.text_alignment }}"
    {% if block.settings.enable_container %}style="
        --{{ class_prefix }}-container-max-width: {{ block.settings.container_max_width }}px;
        --{{ class_prefix }}-container-padding: 0 {{ block.settings.container_padding }}px;
    "{% endif %}
>
    <div class="{{ class_prefix }}-container">
        <!-- Heading and Description start -->
        {% if block.settings.heading == empty and block.settings.description == empty %}
        {% else %}
            <div class="{{ class_prefix }}-header">
                {% if block.settings.heading != empty %}
                    <h1 class="{{ class_prefix }}-heading">{{ block.settings.heading }}</h1>
                {% endif %}
                {% if block.settings.description != empty %}
                    <div class="{{ class_prefix }}-description rte">
                        {{ block.settings.description }}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <!-- Heading and Description end -->

        <!-- Search form start -->
        <div class="{{ class_prefix }}-form__wrapper">
            <form id="{{ block.id }}-form" style="--grid-cols: {{ fields | size }};" class="{{ class_prefix }}-form">
                <div class="{{ class_prefix }}-fields">
                    {% for field in fields %}
                        {% if field.visibility == "VISIBLE" %}
                            <div class="{{ class_prefix }}-field" data-index="{{ forloop.index0 }}" data-field-name="{{ field.label }}">
                                <select name="{{ field.key }}" id="{{ field.id }}" class="{{ class_prefix }}-select" required>
                                    <option value="" disabled selected>{{ field.placeholder }}</option>
                                </select>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="{{ class_prefix }}-field" data-field-name="buttons">
                        <button type="button" class="{{ class_prefix }}-search">Search</button>
                        <button type="reset" class="{{ class_prefix }}-clear">Clear filters</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Search form end -->
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", ()=>{
        console.clear();
        
        const enabled = window.autoFitEnabled || false;
        const widets = document.querySelectorAll("[data-section-type='auto-fit-search']");
        if(enabled) {
            const data = {
                fields: {{ fields | json }},
                rows: {{ rows | json }},
                suggestions: {{ suggestions | json }},
            };
            console.log("AutoFit Data:", data);
        } else {
            widets.forEach(widget => {
                widget.innerHTML = "<p style='color: red;'>AutoFit Search is disabled. Please enable it in the settings.</p>";
            });
        }
    });
</script>


{% schema %}
{
    "name": "Search widget",
    "target": "section",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Find Your Engine That Fits"
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>Find the perfect compatible engine for your vehicle quickly, reliably, and confidently with our advanced search.</p>"
        },
        {
            "type": "select",
            "id": "text_alignment",
            "label": "Text alignment",
            "default": "center",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "enable_container",
            "label": "Enable container styling",
            "default": false,
            "info": "When enabled, the container will have a maximum width and padding. This helps to maintain a consistent layout across different screen sizes."
        },
        {
            "id": "container_max_width",
            "type": "range",
            "label": "Container max width (px)",
            "default": 1200,
            "min": 800,
            "max": 2000,
            "step": 50,
            "unit": "px",
            "info": "Adjust the maximum width of the container. This setting is effective only if 'Enable container styling' is checked.",
            "visible_if": "{{ block.settings.enable_container }}"
        },
        {
            "id": "container_padding",
            "type": "range",
            "label": "Container padding (px)",
            "default": 20,
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "info": "Adjust the padding inside the container. This setting is effective only if 'Enable container styling' is checked.",
            "visible_if": "{{ block.settings.enable_container }}"
        }
    ]
}
{% endschema %}
